@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
    background-color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

.main {
    height: 65vh;
}

.loginInput {
    background-color: #683A91;
    height: 50px;
}

.loginForm {
    width: 100vw;
}

.btnLogin {
    height: 50px;
    width: 100%;
}

.btnNav {
    width: fit-content;
}

.headerDash {
    background-color: #683A91;
    height: 12vh;
}

.welcome {
    color: #D9D9D9;
}

.previsaoDash text {
    border: none;
}

.tempoPrev {
    color: rgb(65, 129, 2);
}

.alertasDash {
    background-color: #683A91;
    color: #D9D9D9;
    height: 10vh;
}

.scrollAlertas {
    height: 36vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollViagens {
    height: 42vh;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollERelatorios {
    height: 90vh;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.sessaoViagens {
    border: 10px;
}

.botaoCreate {
    background-color: #683A91;
    color: #D9D9D9;
}

.navRelat {
    background-color: #683A91;
    height: 10vh;
}

.navGestaoRotas {
    background-color: #683A91;
    height: 15vh;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.profile {
    background-color: rgb(176, 176, 176);
    border-radius: 10%;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.profile h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 350;
}

.profile h3 {
    font-size: 0.625rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 350;
}

.profile img {
    width: 6.25rem;
    height: 6.25rem;
    padding: 0;
    margin-top: 3%;
    object-fit: cover;
    border-radius: 50%;
}

.botaoAdd {
    color: #683A91;
    font-size: 2.3rem;
}

.status {
    background-color: #683A91;
    color: #D9D9D9;
}

.emergencyMessage {
    background-color: #683A91;
    color: #D9D9D9;
}