@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
    background-color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

.main {
    height: 65vh;
}

.loginInput {
    background-color: #683A91;
    height: 50px;
}

.form-control::-webkit-input-placeholder {
    color: #D9D9D9;
}

.loginForm {
    width: 100vw;
}

.btnLogin {
    height: 50px;
    width: 100%;
}

.headerDash {
    background-color: #683A91;
    height: 12vh;
}

.welcome {
    color: #D9D9D9;
}

.previsaoDash text {
    border: none;
}

.tempoPrev {
    color: rgb(65, 129, 2);
}

.alertasDash {
    background-color: #683A91;
    color: #D9D9D9;
    height: 10vh;
}

.scrollAlertas {
    height: 36vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollViagens {
    height: 42vh;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollERelatorios {
    height: 90vh;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.sessaoViagens {
    border: 10px;
}

.botaoCreate {
    background-color: #683A91;
    color: #D9D9D9;
}

.navRelat {
    background-color: #683A91;
    height: 10vh;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}