.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background-color: #d9d9d9;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar .close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: end !important;
}

.sidebar .close-btn:hover {
    background: transparent;
}

.sidebar form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar button {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: none;
    background: #000;
    color: white;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.sidebar button:hover {
    background: #333;
}

.sidebar .bottom-btn {
    margin-top: auto;
    margin-bottom: 20% !important;
    background: #dc3545 !important;
}

.sidebar .bottom-btn:hover {
    background: #7c0a16 !important;
}

.sidebar .func-btn {
    background: #523142 !important;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
}



@media (max-width: 768px) {
    .sidebar {
        width: 40%;
        max-width: 300px;
    }

    .sidebar button {
        padding: 15px;
        font-size: 12px;
    }

    .open-sidebar-btn {
        font-size: 24px;
        padding: 10px 12px;
        

    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 50%;
    }
    
    .sidebar button {
        padding: 15px;
        font-size: 12px;
    }

    .open-sidebar-btn {
        font-size: 18px;
        padding: 8px 10px;


    }
}

@media (max-width: 295px) {
    .sidebar {
        width: 70%;
    }
    
    .sidebar button {
        padding: 15px;
        font-size: 12px;
    }

    .open-sidebar-btn {
        font-size: 12px;
        padding: 6px 8px;

        
    }
}




.open-sidebar-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #683A91;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
    z-index: 998;
    transition: background-color 0.3s;
    text-align: center;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.open-sidebar-btn:hover {
    background: #452461;
}